.footer {
  background-color: #f2f2f2;
}

.footer__map {
  &--inner {
    background-color: #f2f2f2;
  }
}

.footer__map-map {
  height: 382px;
  width: 100%;
  background: url("../img/footer-map-mobile.png");
}

.footer__map-map iframe {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
}

.footer__map-text {
  .wrapper();
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 26px;
  padding-bottom: 26px;
}

.footer__map-title {
  width: 140px;
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;
}

.footer__map-address {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.footer__logo {
  display: block;
  width: 130px;
  margin: 0 auto;
  transition: all 0.5s ease;
  cursor: pointer;

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

.footer__wrapper {
  .wrapper();
  padding-top: 21px;
}

.footer__social-list {
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 17px;
  padding: 0;
  padding-bottom: 14px;
  padding-top: 23px;
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  gap: 26px;
}

.footer__copyright {
  padding-bottom: 40px;
}

.footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
  transition: all 0.5s ease;

  &:active {
    opacity: 30%;
  }
}

.footer__copyright-link-icon {
  color: #666666;
  transition: all 0.5s ease;
}

.footer__copyright-link:hover .footer__copyright-link-icon {
  color: @basic-green;
}

.footer__copyright-link:active .footer__copyright-link-icon {
  color: @basic-green;
}

.footer__social-link-icon {
  color: #666666;
  transition: all 0.5s ease;
}

.footer__social-link:hover .footer__social-link-icon {
  color: @basic-green;
}

.footer__social-link:active .footer__social-link-icon {
  color: @basic-green-transparent-seconary;
}

.footer__map-address-part-one,
.footer__map-address-part-two {
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .footer__map {
    padding: 0;

    &--main {
      background-color: #ffffff;
    }
  }

  .footer__map-title {
    font-size: 20px;
    line-height: 26px;
    width: 155px;
  }

  .footer__map-map {
    background: url("../img/footer-map-tablet.png");
    height: 403px;
  }

  .footer__map-address {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  .footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 55px 30px;
    align-items: center;
  }

  .footer__logo {
    padding: 0;
    margin: 0;
  }

  .footer__social-list {
    margin: 0;
    margin-left: 33px;
    padding: 0;
    width: unset;
    border: none;
  }

  .footer__copyright {
    margin: 0;
    padding: 0;
  }

  .footer__map-text {
    padding: 60px 70px;
    column-gap: 250px;
  }

  .footer__map-address-part-two {
    margin-top: 20px;
  }

  .footer__copyright-link-icon {
    margin-left: 24px;
  }

  @media (min-resolution: 2dppx) {
    .footer__map-map {
      background: url("../img/footer-map-tablet-2x.png");
      background-size: 768px auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .footer__logo {
    margin: 0;
  }

  .footer__map {
    display: grid;
    grid-template-columns: 1fr 1220px 1fr;
    grid-template-rows: 95px max-content 105px;
    min-height: 400px;
    justify-content: flex-start;
    padding: 0;
  }

  .footer__map-map {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    height: 100%;
    background: url("../img/footer-map-desktop.png");
  }

  .footer__map-text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    z-index: 2;
    max-width: 565px;
    margin: 0;
    padding: 60px 78px 60px 80px;
    background-color: #ffffff;
    column-gap: 90px;
  }

  .footer__map-address {
    text-align: left;
  }

  .footer__map-address-part-two {
    margin-top: 18px;
  }

  .footer__wrapper {
    padding: 67px 0;
  }

  .footer__social-list {
    align-items: center;
    margin-left: 34px;
    padding-top: 5px;
  }

  .footer__copyright-link-icon {
    margin-left: 24px;
  }

  @media (min-resolution: 2dppx) {
    .footer__map-map {
      background: url("../img/footer-map-desktop-2x.png");
      background-size: 1440px auto;
    }
  }
}

@media (max-width: @mobile-width-only) {
  @media (min-resolution: 2dppx) {
    .footer__map-map {
      background: url("../img/footer-map-mobile-2x.png");
      background-size: 320px auto;
    }
  }
}
