.gift {
  background-color: #68b738;
  background-image: url("../img/catalog-background-gift.jpg");
  width: 100%;
  min-height: 290px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 35px;

  &::before {
    background-color: #68b738d9;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 290px;
  }
}

.gift__description {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding-top: 186px;
  width: 161px;
  z-index: 1;
  position: relative;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 80px;
    background-image: url("../img/icon-gift.svg");
    top: 59px;
    left: 25%;
  }
}

@media (max-width: @mobile-width-only) {
  @media (min-resolution: 2dppx) {
    .gift {
      background-image: url("../img/catalog-background-gift-2x.jpg");
    }
  }
}

@media (min-width: @tablet-width) {
  .gift {
    width: 100%;
    background-image: url("/img/gift-tablet.jpg");
    background-repeat: no-repeat;
    min-height: 200px;
    margin-bottom: 75px;
  }

  .gift::before {
    width: 100%;
    min-height: 200px;
  }

  .gift__description {
    margin: 0;
    margin-left: 274px;
    padding-top: 71px;
    padding-left: 148px;
    text-align: left;
    box-sizing: content-box;

    &::before {
      left: -63%;
    }
  }

  @media (min-resolution: 2dppx) {
    .gift {
      background-image: url("../img/gift-tablet-2x.jpg");
    }
  }
}

@media (min-width: @desktop-width) {
  .gift {
    width: 245px;
    background-image: url("/img/gift-background-desktop.jpg");
    background-repeat: no-repeat;
    min-height: 288px;
    margin: 0;
  }

  .gift::before {
    width: 245px;
    height: 100%;
  }

  .gift__description {
    margin: 0 auto;
    padding-left: 0;
    padding-top: 185px;
    text-align: center;

    &::before {
      left: 25%;
    }
  }

  @media (min-resolution: 2dppx) {
    .gift {
      background-image: url("../img/gift-background-desktop-2x.jpg");
    }
  }
}
