.catalog {
  width: 280px;
  margin-left: 20px;
}

.catalog-list {
  list-style-type: none;
  padding: 0;
}

.catalog__card {
  max-height: 209px;
  padding-bottom: 25px;
}

.catalog__card-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 27px;

  &--extra {
    flex-direction: column;
    justify-content: center;
  }
}

.catalog__card-link-image {
  padding-left: 36px;
}

.catalog__card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0;
  margin-bottom: 14px;
  text-transform: uppercase;

  &--extra {
    margin-top: 23px;
    margin-bottom: 8px;
  }
}

.catalog__card-title-link {
  text-decoration: none;
}

.catalog__card-description {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: space-between;
}

.catalog__card-description-item {
  text-align: left;

  &:nth-child(2n) {
    text-align: right;
  }
}

.catalog__card-description-text {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.catalog__card-button {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  background-color: #68b738;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 109px;
  transition: all ease 0.6s;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }

  &--extra {
    background-color: #f2f2f2;
    border: none;
    color: #444444;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 95px;
    cursor: pointer;
  }

  &--extra:hover {
    background-color: #f2f2f2;
  }

  &--extra:active {
    background-color: #f2f2f2;
    color: #444444;
  }
}

.catalog__inner-title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: capitalize;
}
