.catalog {
  width: 280px;
  margin-left: 20px;
}

.catalog-list {
  list-style-type: none;
  padding: 0;
}

.catalog__card {
  max-height: 209px;
  padding-bottom: 25px;
}

.catalog__card-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 27px;

  &--extra {
    flex-direction: column;
    justify-content: center;
  }
}

.catalog__card-link-image {
  padding-left: 36px;
}

.catalog__card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0;
  margin-bottom: 14px;
  text-transform: uppercase;

  &--extra {
    margin-top: 78px;
    margin-bottom: 8px;
    position: relative;
  }

  &--extra::before {
    position: absolute;
    background-image: url("/img/catalog-plus-icon.svg");
    content: "";
  }
}

.catalog__card-title-link {
  text-decoration: none;
}

.catalog__card-description {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  justify-content: space-between;
}

.catalog__card-description-item {
  display: flex;
  justify-content: space-between;
}

.catalog__card-description-text {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.catalog__inner-title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: capitalize;
}
