.footer {
  width: 320px;
}

.footer__map {
  display: flex;
  padding-top: 26px;
  padding-bottom: 388px;

  &--inner {
    background-color: #f2f2f2;
  }
}

.footer__map-title {
  width: 140px;
  padding-left: 20px;
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;
}

.footer__map-address {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 140px;
  color: #444444;
}

.footer__logo {
  padding-left: 106px;
}

.footer__links {
  background-color: #f2f2f2;
  padding-top: 40px;
}

.footer__social-list {
  margin: 0;
  list-style-type: none;
  display: flex;
  width: 132px;
  justify-content: space-between;
  margin-top: 40px;
}

.footer__copyright {
  margin-top: 47px;
  margin-left: 20px;
  padding-bottom: 40px;
}

.footer__copyright-link {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
}
