.form__title {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  margin-left: 20px;
  margin-bottom: 39px;
  width: 280px;
  text-transform: uppercase;
}
