.gift {
  background-color: #68b738;
  background-image: url("../img/catalog-background-gift.jpg");
  width: 280px;
  min-height: 290px;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 35px;
  box-sizing: border-box;

  &::before {
    background-color: #68b738d9;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    min-height: 290px;
  }
}

.gift__description {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding-top: 186px;
  padding-left: 58px;
  width: 161px;
  z-index: 1;
  position: relative;
  margin: 0;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .gift {
    width: 707px;
    background-image: url("/img/gift-tablet.jpg");
    background-repeat: no-repeat;
    min-height: 200px;
    margin-top: 70px;
    margin-bottom: 75px;
  }

  .gift::before {
    width: 707px;
    min-height: 200px;
  }

  .gift__description {
    padding-top: 71px;
    padding-left: 421px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .gift {
    width: 245px;
    background-image: url("/img/gift-background-desktop.jpg");
    background-repeat: no-repeat;
    min-height: 288px;
    margin: 0;
  }

  .gift::before {
    width: 245px;
    min-height: 288px;
  }

  .gift__description {
    padding-left: 42px;
    padding-top: 185px;
  }
}
