.header {
  background-color: #ffffff;
  padding-top: 13px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  position: relative;
  margin-bottom: 27px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 11px;

  &--main {
    margin-bottom: 0;
  }
}

.header__wrapper {
  .wrapper();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__logo-text {
  padding-right: 10px;
}

@media (min-width: @tablet-width) {
  .header {
    padding-top: 28px;
    padding-bottom: 0;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 58px;
    border: none;
  }

  .header__logo {
    width: 174px;
  }

  .header__logo-text {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .header {
    padding-top: 55px;
    background: none;
    margin-bottom: 69px;
    font-size: 20px;
    line-height: 30px;

    &--main {
      margin-bottom: -74px;
    }

    &--main::after {
      position: absolute;
      content: "";
      background: linear-gradient(90deg, @basic-green-transparent 50%, @basic-green-transparent 100%), @bg-image, no-repeat, center;
      background-size: cover;
      top: 0;
      height: 694px;
      width: 50%;
      right: 0;
      z-index: -2;
    }
  }

  @media (min-resolution: 2dppx) {
    .header--main::after {
      background: linear-gradient(90deg, @basic-green-transparent 50%, @basic-green-transparent 100%), @bg-image-2x, no-repeat, center;
      background-size: cover;
    }
  }
}
