.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ffffff;
  padding-top: 13px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Oswald", sans-serif;
  width: 320px;
  position: relative;
}
