.main-example {
  width: 280px;
  padding: 0 20px;
  background-color: #eaeaea;
  padding-bottom: 316px;
  margin-top: 49px;
}

.main-example__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  padding-top: 25px;
}

.main-example__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #444444;
}

.main-example__results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-example__result {
  width: 124px;
  display: flex;
  flex-direction: column;
}

.main-example__result-big {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

.main-example__result-small {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin: 0 auto;
  margin-top: 7px;
  width: 59px;
  color: #444444;
}

.main-example__expense {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-top: 20px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .main-example {
    background-color: #ffffff;
    padding: 0 30px;
    width: 708px;
    position: relative;
  }

  .main-example__text {
    font-size: 16px;
    line-height: 24px;
  }

  .main-example__results {
    justify-content: flex-start;
  }

  .main-example__result {
    margin-right: 43px;
    margin-top: 55px;
    width: 162px;
  }

  .main-example__result-big {
    font-size: 30px;
    line-height: 37px;
  }

  .main-example__result-small {
    width: fit-content;
    font-size: 14px;
    line-height: 14px;
  }

  .main-example__expense {
    position: absolute;
    top: 198px;
    left: 564px;
    width: 174px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    margin-top: 55px;
  }
}

@media (min-width: @desktop-width) {
  .main-example {
    background-color: #f2f2f2;
    width: 436px;
    padding-bottom: 150px;
    padding-left: 110px;
  }

  .main-example__title {
    padding-bottom: 76px;
    background: none;
  }

  .main-example__results {
    width: 436px;
    justify-content: space-between;
  }

  .main-example__expense {
    width: 267px;
    left: 110px;
    top: 425px;
  }
}
