.main-promo__intro {
  background-color: #68b738;
  background-repeat: no-repeat;
  width: 320px;
  min-height: 301px;
  background-image: url("../img/index-background-desktop.jpg");
  margin-bottom: 138px;
  position: relative;

  &::before {
    background-color: #68b738d9;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    min-height: 301px;
  }
}

.main-promo__title {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  margin-top: 27px;
  margin-right: 35px;
  margin-left: 35px;
  z-index: 1;
}

.main-promo__text {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  z-index: 1;
}

.main-promo__button {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  background-color: #68b738;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 63px;
  margin-left: 20px;
  transition: all ease 0.6s;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}
