.main-features {
  .wrapper();
  margin-bottom: 49px;
}

.main-features__title {
  margin: 0;
  padding-bottom: 41px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.main-features__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  row-gap: 20px;
}

.main-features__item {
  position: relative;
  padding-left: 80px;
  min-height: 60px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    display: block;
    background-color: @basic-green;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--step-one {
    &::after {
      background-image: url("../img/features-leaf.svg");
    }
  }

  &--step-two {
    &::after {
      background-image: url("../img/features-powder.svg");
    }
  }

  &--step-three {
    &::after {
      background-image: url("../img/features-eat.svg");
    }
  }

  &--step-four {
    &::after {
      background-image: url("../img/features-time.svg");
    }
  }
}

.main-features__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .main-features {
    margin-bottom: 92px;
  }

  .main-features__title {
    font-size: 60px;
    line-height: 60px;
  }

  .main-features__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    row-gap: 45px;
    column-gap: 104px;
    counter-reset: features;
  }

  .main-features__item {
    margin: 0;
    padding-left: 0;
    padding-top: 143px;
    padding-bottom: 57px;
    position: relative;
  }

  .main-features__item::after {
    top: 31px;
    width: 80px;
    height: 80px;
  }

  .main-features__item::before {
    counter-increment: features;
    content: "" counter(features) "";
    position: absolute;
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    z-index: -1;
    bottom: 0;
    right: 0;
    text-align: center;
  }

  .main-features__item--step-one::before {
    bottom: 1px;
    right: 56px;
  }

  .main-features__item--step-two::before {
    bottom: 1px;
    right: 35px;
  }

  .main-features__item--step-three::before {
    bottom: 1px;
    right: 33px;
  }

  .main-features__item--step-four::before {
    bottom: 1px;
    right: 33px;
  }

  .main-features__text {
    max-width: 250px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .main-features {
    margin-bottom: 69px;
  }

  .main-features__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 77px;
  }

  .main-features__item--step-one::before {
    bottom: 1px;
    right: 24px;
  }

  .main-features__item--step-two::before {
    bottom: 1px;
    right: 0;
  }

  .main-features__item--step-three::before {
    bottom: 1px;
    right: 0;
  }

  .main-features__item--step-four::before {
    bottom: 1px;
    right: 0;
  }
}
