.nav__list {
  list-style-type: none;
  text-align: center;
  position: absolute;
  background-color: #ffffff;
  width: 320px;
  left: 0;
  padding: 0;
  margin: 0;
  z-index: 1;

  &--disabled {
    display: none;
  }
}

.nav__link {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .nav__list {
    display: flex;
    flex-wrap: wrap;
    width: 436px;
    position: static;
    margin-right: 34px;
  }

  .nav__toggle {
    display: none;
  }

  .nav__item:not(:last-child) {
    margin-right: 33px;
  }
}

@media (min-width: @desktop-width) {
  .nav-list {
    min-width: 475px;
  }
}
