.page-form {
  width: 320px;
}

.page-form__input-label {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  align-items: center;

  &:not(:first-child) {
    margin-top: 14px;
  }

  &:nth-child(3) {
    margin-bottom: 46px;
  }
}

.page-form__field {
  flex-grow: 1;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  margin-left: 13px;
  border: 1px solid #e7e7e7;
  padding-left: 15px;
  padding-top: 14px;
  padding-bottom: 13px;
}

.page-form__type {
  border: none;
  padding: 0;
  margin: 0;
}

.page-form__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.page-form__comment-field {
  width: 280px;
  height: 150px;
  border: 1px solid #e7e7e7;
  margin-left: 20px;
}

.form-warning {
  margin: 0;
  margin-top: 21px;
  margin-bottom: 32px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.page-form__control-label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}

.page-form__name {
  display: flex;
  align-items: center;
  width: 280px;
  margin-left: 20px;
}

.page-form__contact {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.page-form__description {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .page-form {
    padding-left: 70px;
    padding-right: 70px;
    width: 628px;
  }

  .page-form__control-label {
    font-size: 20px;
    line-height: 30px;
  }

  .page-form__name {
    width: 628px;
    margin: 0;
  }

  .page-form__comment-field {
    margin: 0;
    padding: 0;
    width: 628px;
  }

  .page-form__end {
    display: flex;
  }

  .form-warning {
    margin: 0;
    position: absolute;
    top: 1196px;
    left: 464px;
  }
}

@media (min-width: @desktop-width) {
  .page-form {
    width: 1220px;
    padding-left: 110px;
    padding-right: 110px;
  }

  .page-form__type {
    display: flex;
  }

  .page-form__input-label {
    width: 570px;
  }

  .page-form__list {
    margin-left: 80px;
    width: 570px;
  }

  .page-form__contact {
    display: flex;
  }

  .page-form__name {
    width: 560px;
  }

  .page-form__comment-field {
    width: 1200px;
  }

  .form-warning {
    top: 1116px;
    left: 760px;
  }
}
