.page__main-title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-top: 27px;
  margin-bottom: 37px;
  margin-left: 20px;
}

.page__inner-title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  margin-left: 20px;
  margin-top: 24px;
  margin-bottom: 38px;
  width: 190px;

  &:first-child {
    margin-bottom: 35px;
  }

  &--catalog {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
  }
}

@media (min-width: @tablet-width) {
  .page__main-title {
    font-size: 60px;
    line-height: 60px;
    margin-left: 70px;
  }

  .page__inner-title {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    width: 628px;
  }
}

@media (min-width: @desktop-width) {
  .page__main-title {
    margin-left: 110px;
  }
}

/* Buttons */

.page__button {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  background-color: #68b738;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 109px;
  transition: all ease 0.6s;
  grid-row: 3 / 4;
  box-sizing: border-box;
  display: inline;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }

  &--extra {
    background-color: #f2f2f2;
    border: none;
    color: #444444;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 95px;
    cursor: pointer;
  }

  &--extra:hover {
    background-color: #f2f2f2;
  }

  &--extra:active {
    background-color: #f2f2f2;
    color: #444444;
  }

  &--submit {
    border: none;
    margin: 34px auto 21px auto;
    padding: 10px 76px;
  }

  &--main {
    display: block;
    width: 236px;
    padding: 10px 22px;
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .page__button--main {
    padding: 14px 26px;
    width: 194px;
    font-size: 20px;
    line-height: 26px;
    margin-left: 120px;
    margin-bottom: 526px;
  }

  .page__button {
    grid-row: 4 / 5;
  }

  .page__button--card {
    padding: 10px 94px;
  }

  .page__button--catalog-extra {
    padding: 10px 285px;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .page__button--submit {
    position: relative;
  }
}

@media (min-width: @desktop-width) {
  .page__button--main {
    margin-bottom: 266px;
  }

  .page__button--submit {
    padding: 14px 208px;
    margin: 0;
  }

  .page__button--card {
    padding: 10px 54px;
  }

  .page__button--catalog-extra {
    padding: 10px 91px;
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    display: inline;
  }
}
