.page-form {
  width: 320px;
}

.page-form__input-label {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  align-items: center;

  &:not(:first-child) {
    margin-top: 14px;
  }

  &:nth-child(3) {
    margin-bottom: 46px;
  }
}

.page-form__field {
  flex-grow: 1;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  margin-left: 13px;
  border: 1px solid #e7e7e7;
  padding-left: 15px;
  padding-top: 14px;
  padding-bottom: 13px;
}

.page-form__type {
  border: none;
}

.page-form__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-form__comment-field {
  width: 280px;
  height: 150px;
  border: 1px solid #e7e7e7;
  margin-left: 20px;
}

.form-warning {
  margin: 0;
  margin-top: 21px;
  margin-bottom: 32px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.page-form__control-label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}

.page-form__name {
  display: block;
  width: 280px;
  margin-left: 20px;
}
