.programs {
  .wrapper();
}

.programs__element {
  background-color: #d9d9d9;
  padding: 30px 20px 18px;

  &:last-child {
    margin-top: 20px;
  }
}

.programs__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
}

.programs__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
}

.programs__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .programs__element {
    padding: 77px 316px 53px 52px;
  }

  .programs__title {
    font-size: 36px;
    line-height: 36px;
  }

  .programs__text {
    font-size: 16px;
    line-height: 24px;
  }

  .programs__link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .programs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 71px;
  }

  .programs__element {
    width: calc(50% - 40px);
    padding-top: 77px;
    padding-right: 61px;
    padding-left: 52px;
    padding-bottom: 55px;
  }

  .programs__element:last-child {
    margin-top: 0;
  }

  .programs__title {
    padding-bottom: 73px;
    padding-left: 162px;
  }

  .programs__link {
    padding-top: 23px;
    display: block;
  }
}
