.programs {
  margin-top: 30px;
}

.programs__element {
  background-color: #d9d9d9;
  width: 280px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 18px;

  &:last-child {
    margin-top: 20px;
  }
}

.programs__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding: 30px 0 29px 90px;
  margin: 0;
}

.programs__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  padding-left: 20px;
  padding-right: 33px;
  margin-bottom: 38px;
}

.programs__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 20px;
}

@media (min-width: @tablet-width) {
  .programs__element {
    width: 708px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 57px;
    padding-top: 77px;
  }

  .programs__title {
    font-size: 36px;
    line-height: 36px;
    padding-left: 52px;
  }

  .programs__text {
    width: 340px;
    font-size: 16px;
    line-height: 24px;
    padding-left: 52px;
  }

  .programs__link {
    font-size: 20px;
    line-height: 30px;
    padding-left: 52px;
  }
}

@media (min-width: @desktop-width) {
  .programs {
    display: flex;
    flex-wrap: wrap;
  }

  .programs__element {
    width: 570px;
    min-height: 374px;
    padding: 0;
  }

  .programs__element:last-child {
    margin-top: 0;
  }
}
